<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="Make RoamingX Great Again"
        tools:ignore="MissingApplicationIcon">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="Make RoamingX Great Again" />

        <meta-data
            android:name="xposedminversion"
            android:value="101" />

        <meta-data
            android:name="xposedscope"
            android:value="tv.danmaku.bili;com.bilibili.app.blue;com.bilibili.app.in;tv.danmaku.bilibilihd" />
    </application>

</manifest>
